<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <div th:include="fragments/fragment :: css" th:remove="tag"></div>
    <!-- End of CSS -->

    <!-- TITLE PAGE -->
    <title>== Title ==</title>
</head>

<body>

<div class="d-flex" id="wrapper">

    <!--Sidebar-->
    <object th:replace="fragments/sidebar :: sidebar" th:remove="tag"></object>
    <!--End of Sidebar-->

    <!-- Page Content -->
    <div id="page-content-wrapper" >
        <!-- Topbar -->
        <nav th:replace="fragments/navbar :: navbar-top" th:remove="tag"></nav>
        <!-- End of Topbar -->

        <div class="container-fluid my-3">
            <!-- ISI KONTEN -->

            <h1>Simple Sidebar</h1>
            <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
            <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p>

            <!-- END: ISI KONTEN -->
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- scripts / JS-->
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
<!-- End of scripts / JS-->

</body>
</html>
