<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <div th:include="fragments/fragment :: css" th:remove="tag"></div>
    <!-- End of CSS -->

    <!-- TITLE PAGE -->
    <title>Form Ubah Password</title>
</head>

<body>

<div class="d-flex" id="wrapper">

    <!--Sidebar-->
    <object th:replace="fragments/sidebar :: sidebar" th:remove="tag"></object>
    <!--End of Sidebar-->

    <!-- Page Content -->
    <div id="page-content-wrapper" >
        <!-- Topbar -->
        <nav th:replace="fragments/navbar :: navbar-top" th:remove="tag"></nav>
        <!-- End of Topbar -->

        <div class="container-fluid my-3">
            <!-- ISI KONTEN -->

            <div class="row">

                <div class="col-sm-8">
                    <div class="container p-3" style="background-color: white; border-radius: 5px;">
                        <h3 class="text-blue font-weight-bold mb-4">Form Ubah Password</h3>
                        <article class="text-orange font-weight-bold">Username</article>
                        <p class="text-black-grey" th:text="${user.username}"></p>

                        <article class="text-orange font-weight-bold">Role</article>
                        <p class="text-black-grey" th:text="${user.userRole.nama}"></p>

                        <form id="addUserForm" th:object="${user}">
                            <input type="hidden" name="id" th:field="${user.id}">
                            <input type="hidden" name="username" th:field="${user.username}">
                            <input type="hidden" name="nama" th:field="${user.nama}">
                            <input type="hidden" name="userRole" th:field="${user.userRole}">
                            <input type="hidden" name="userDivisi" th:field="${user.userDivisi}">
                            <div class="form-group">
                                <label class="text-orange font-weight-bold">Password Lama</label>
                                <input type="password" class="form-control" placeholder="Password Lama" id="passwordLama" required>
                            </div>
                            <div class="form-group">
                                <label class="text-orange font-weight-bold">Password Baru</label>
                                <input type="password" name="password" class="form-control" placeholder="Password Baru" id="password" required>
                            </div>
                            <div class="form-group">
                                <label class="text-orange font-weight-bold">Konfirmasi Password Baru</label>
                                <input type="password" class="form-control" placeholder="Konfirmasi Password Baru" id="confirmPassword" required>
                            </div>

                            <div class="container-fluid text-center mt-3">
                                <p class="font-weight-bold mb-2" id="output-error" style="color: #f70000"></p>
                                <button type="button" class="btn primary-button btn-blue" id="btnSubmit">Simpan</button>
                                <a th:href="@{'/user/ubah/' + ${user.id}}" role="button" class="btn secondary-button btn-outline-blue">Kembali</a>
                            </div>
                        </form>
                    </div>


                </div>

            </div>
            <!-- The Modal -->
            <div class="modal fade" id="successModal" data-backdrop="static">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <!-- Modal body -->
                        <div class="modal-body text-center py-5">
                            <i class="fa fa-check-circle fa-3x text-orange mb-2" aria-hidden="true"></i>
                            <h4 class="text-orange">Password berhasil diubah</h4>
                            <br>
                            <a role="button" class="btn btn-outline-orange secondary-button" th:href="@{/}">Kembali</a>
                        </div>

                    </div>
                </div>
            </div>
            <!-- END: The Modal -->

            <!-- The Modal: Loader -->
            <div class="modal" id="loaderModal" data-backdrop="static">
                <div class="modal-dialog modal-dialog-centered d-flex justify-content-center text-center">
                    <div class="loader"></div>
                </div>
            </div>
            <!-- END: The Modal -->

            <!-- END: ISI KONTEN -->
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- scripts / JS-->
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
<!-- End of scripts / JS-->
<script type="text/javascript">

    function validateForm() {
        var isValid = true;
        $('.form-control').each(function() {
            if ( $(this).val() === '' ) {
                isValid = false;
            }
        });
        return isValid;
    }
    
    function validateOldPassword() {
        var inputOldPassword = $("#passwordLama").val();
        var isMatches = false;
        $.ajax({
            type: "GET",
            url: "/api/user/validatePassword/" + inputOldPassword,
            async: false,
            processData: false,
            contentType: false,
            cache: false,
            success: function (data) {
                isMatches = data.isMatches;
            },
            error: function (e) {
                console.log("ERROR: ", e);
            }
        });
        console.log('isMatches: ', isMatches);
        return isMatches;
    }

    function checkMinLengthPassword() {
        var password = $("#password").val();
        var confirmPassword = $("#confirmPassword").val();
        if (password.length >= 8 && confirmPassword.length >= 8) {
            return true;
        }
        return false;
    }

    function checkPasswordMatch() {
        var password = $("#password").val();
        var confirmPassword = $("#confirmPassword").val();
        if (password !== confirmPassword) {
            return false;
        }
        return true;
    }

    $(document).ready(function () {

        $("#btnSubmit").click(function (event) {
            $("#loaderModal").modal("show");
            if (!(validateForm())) {
                $("#output-error").text("Harap lengkapi semua field.");
                $("#loaderModal").modal("hide");
                return;
            }

            if (!(validateOldPassword())) {
                $("#output-error").text("Password lama yang dimasukkan tidak sesuai.");
                $("#loaderModal").modal("hide");
                return;
            }

            if (!(checkMinLengthPassword())) {
                $("#output-error").text("Minimal 8 karakter password.");
                $("#loaderModal").modal("hide");
                return;
            }
            if (!(checkPasswordMatch())) {
                $("#output-error").text("Password dan konfirmasi password yang diisi tidak sesuai/match.");
                $("#loaderModal").modal("hide");
                return;
            }

            //stop submit the form, we will post it manually.
            event.preventDefault();

            // Get form
            var form = $('#addUserForm')[0];

            // Create an FormData object
            var data = new FormData(form);

            // disabled the submit button
            $("#btnSubmit").prop("disabled", true);

            $.ajax({
                type: "POST",
                // enctype: 'multipart/form-data',
                url: "/user/ubahPassword",
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                success: function (data) {
                    $("#output-error").text("");
                    $("#btnSubmit").prop("disabled", false);
                    $("#loaderModal").modal("hide");
                    $("#successModal").modal("show")
                },
                error: function (e) {
                    console.log("ERROR: ", e);
                    $("#loaderModal").modal("hide");
                    $("#btnSubmit").prop("disabled", false);
                }
            });
        });
    });
</script>

</body>
</html>
