<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Daftar Delegasi Perspektif GCG</title>

    <div th:include="fragments/fragment :: css" th:remove="tag"></div>
</head>
<body>
<div class="d-flex" id="wrapper">

    <!--Sidebar-->
    <object th:replace="fragments/sidebar :: sidebar" th:remove="tag"></object>
    <!--End of Sidebar-->

    <!-- Page Content -->
    <div id="page-content-wrapper" >
        <!-- Topbar -->
        <nav th:replace="fragments/navbar :: navbar-top" th:remove="tag"></nav>
        <!-- End of Topbar -->

        <div class="container-fluid my-3">
            <!-- ISI KONTEN -->
            <div class="row" style="padding: 1%">
                <div class="col-9"><h2 class="text-blue font-weight-bold mb-3 " th:text="'Daftar Delegasi Perspektif Penilaian GCG ' + ${tahun}"></h2></div>
                <div class="col-3" style="padding-left: 7.5%">
                    <a th:href="@{/delegasi/tambah}">
                        <button type="button" class="btn primary-button btn-blue">+ Tambah Delegasi</button>
                    </a>
                </div>
            </div>

            <div class="row mt-2 container-fluid">
                <table id="tabelDelegasi" class="table" style="background-color: white" cellspacing="0" width="100%">
                    <thead>
                    <tr class="text-blue text-center">
                        <th scope="col">No.</th>
                        <th scope="col" colspan="2">Penanggung Jawab</th>
                        <th scope="col">Aksi</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="divisi, iterationStatus : *{listDivisi}" style="border: 1px solid #ddd;">
                        <td scope="col" th:text="${iterationStatus.count}" align="center"></td>
                        <td scope="col" colspan="2" th:text="${divisi.nama}"></td>
                        <td scope="col" align="center">
                            <a role="button" data-toggle="tooltip" title="Lihat delegasi perspektif" class="btn btn-blue primary-button" th:href="@{/delegasi/lihat(id=${divisi.id})}">
                                <i class="material-icons" style="font-size:18px">find_in_page</i>
                            </a>
                            <button class="btn primary-button btn-grey" th:if="${listDelegasi[__${iterationStatus.index}__].size()} == 0" disabled title="Delegasi perspektif tidak dapat diubah. Silakan tambah terlebih dahulu.">
                                <a style="color: white"><i class="fa fa-pencil-alt"></i></a>
                            </button>
                            <a role="button" class="btn primary-button btn-grey" data-toggle="tooltip" title="Ubah delegasi perspektif" th:if="${listDelegasi[__${iterationStatus.index}__].size()} != 0" th:href="@{/delegasi/ubah(id=${divisi.id})}">
                                <i class="fa fa-pencil-alt"></i>
                            </a>
                            <span th:if="${listDelegasi[__${iterationStatus.index}__].size()} == 0">
                                <button role="button" class="btn btn-orange mr-2" disabled data-toggle="tooltip" title="Delegasi perspektif tidak dapat dinonaktifkan. Silakan tambah terlebih dahulu.">
                                    <i class="fas fa-power-off"></i>
                                </button>
                            </span>
                            <span th:if="${listDelegasi[__${iterationStatus.index}__].size()} != 0">
                                <button th:if="${listDelegasi[__${iterationStatus.index}__].get(0).activeFlag}" role="button" data-toggle="tooltip" title="Nonaktifkan delegasi perspektif" class="deactivate btn btn-orange mr-2" th:value="${divisi.id}">
                                    <i class="fas fa-power-off"></i>
                                </button>
                                <button th:if="${!listDelegasi[__${iterationStatus.index}__].get(0).activeFlag}" role="button" data-toggle="tooltip" title="Aktifkan delegasi perspektif" class="activate btn btn-grey mr-2" th:value="${divisi.id}">
                                    <i class="fas fa-power-off"></i>
                                </button>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- The Modal: Deactivate -->
            <div class="modal fade" id="deactivateModal" data-backdrop="static">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <!-- Modal body -->
                        <div class="modal-body text-center py-5 px-4">
                            <i class="fa fa-exclamation-triangle fa-3x text-orange mb-2" aria-hidden="true"></i>
                            <h5 class="text-orange">Apakah Anda yakin akan menonaktifkan delegasi perspektif ini?</h5>
                            <br>
                            <button type="button" class="btn primary-button btn-orange" id="btnDeactivate" style="width: 100px">Iya</button>
                            <button role="button" class="btn btn-outline-orange secondary-button" data-dismiss="modal" style="width: 100px">Kembali</button>
                        </div>

                    </div>
                </div>
            </div>
            <!-- END: The Modal -->

            <!-- The Modal: DeactivateSuccess -->
            <div class="modal fade" id="deactivateSuccess" data-backdrop="static">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <!-- Modal body -->
                        <div class="modal-body text-center py-5 px-4">
                            <i class="fa fa-check-circle fa-3x text-orange mb-2" aria-hidden="true"></i>
                            <h5 class="text-orange">Delegasi perspektif berhasil dinonaktifkan</h5>
                            <br>
                            <a role="button" class="btn btn-outline-orange secondary-button" th:href="@{/delegasi}">Kembali</a>
                        </div>

                    </div>
                </div>
            </div>
            <!-- END: The Modal -->

            <!-- The Modal: Activate -->
            <div class="modal fade" id="activateModal" data-backdrop="static">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <!-- Modal body -->
                        <div class="modal-body text-center py-5 px-4">
                            <i class="fa fa-exclamation-triangle fa-3x text-orange mb-2" aria-hidden="true"></i>
                            <h5 class="text-orange">Apakah Anda yakin akan mengaktifkan delegasi perspektif ini?</h5>
                            <br>
                            <button type="button" class="btn primary-button btn-orange" id="btnActivate" style="width: 100px">Iya</button>
                            <button role="button" class="btn btn-outline-orange secondary-button" data-dismiss="modal" style="width: 100px">Kembali</button>
                        </div>

                    </div>
                </div>
            </div>
            <!-- END: The Modal -->

            <!-- The Modal: ActivateSuccess -->
            <div class="modal fade" id="activateSuccess" data-backdrop="static">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <!-- Modal body -->
                        <div class="modal-body text-center py-5 px-4">
                            <i class="fa fa-check-circle fa-3x text-orange mb-2" aria-hidden="true"></i>
                            <h5 class="text-orange">Delegasi perspektif berhasil diaktifkan</h5>
                            <br>
                            <a role="button" class="btn btn-outline-orange secondary-button" th:href="@{/delegasi}">Kembali</a>
                        </div>

                    </div>
                </div>
            </div>
            <!-- END: The Modal -->

            <!-- END: ISI KONTEN -->
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        var idDivisiSelected = 0;

        $('[data-toggle="tooltip"]').tooltip();

        $('#tabelDelegasi tbody').on('click', '.activate', function (event) {
            $("#activateModal").modal("show");
            idDivisiSelected = $(this).attr('value');
        });

        $('#tabelDelegasi tbody').on('click', '.deactivate', function (event) {
            $("#deactivateModal").modal("show");
            idDivisiSelected = $(this).attr('value');
        });

        // POST Activate
        $("#btnActivate").click(function (event) {
            //stop submit the form, we will post it manually.
            event.preventDefault();
            $(this).prop("disabled", true);

            $.ajax({
                type: "POST",
                url: "/delegasi?id=" + idDivisiSelected + "&perintah=aktif",
                async: false,
                processData: false,
                contentType: false,
                cache: false,
                success: function (data) {
                    $("#btnSubmit").prop("disabled", false);
                    $("#activateModal").modal("hide");
                    $("#activateSuccess").modal("show")
                },
                error: function (e) {
                    console.log("ERROR: ", e);
                    $("#btnSubmit").prop("disabled", false);
                }
            });
        });

        // POST Deactivate
        $("#btnDeactivate").click(function (event) {
            //stop submit the form, we will post it manually.
            event.preventDefault();
            $(this).prop("disabled", true);

            $.ajax({
                type: "POST",
                url: "/delegasi?id=" + idDivisiSelected + "&perintah=aktif",
                async: false,
                processData: false,
                contentType: false,
                cache: false,
                success: function (data) {
                    $("#btnSubmit").prop("disabled", false);
                    $("#deactivateModal").modal("hide");
                    $("#deactivateSuccess").modal("show")
                },
                error: function (e) {
                    console.log("ERROR: ", e);
                    $("#btnSubmit").prop("disabled", false);
                }
            });
        });
    });
</script>
</body>
</html>