<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <div th:include="fragments/fragment :: css" th:remove="tag"></div>
    <!-- End of CSS -->

    <!-- TITLE PAGE -->
    <title>Upload</title>
</head>

<body>

<div class="d-flex" id="wrapper">

    <!--Sidebar-->
    <object th:replace="fragments/sidebar :: sidebar" th:remove="tag"></object>
    <!--End of Sidebar-->

    <!-- Page Content -->
    <div id="page-content-wrapper" >
        <!-- Topbar -->
        <nav th:replace="fragments/navbar :: navbar-top" th:remove="tag"></nav>
        <!-- End of Topbar -->

        <div class="container-fluid my-3">
            <!-- ISI KONTEN -->

                <div class="m-5 pb-5 bg-white">
            <noscript>
                <h2>Sorry! Your browser doesn't support Javascript</h2>
            </noscript>
            <div class="upload-container">
                <div class="upload-header">
                    <br>
                    <div style="text-align: center">
                    <h2 style="color: #005cbf; margin-right: 150px; margin-left: 80px; margin-top: 100px">
                        Submisi Dokumen Pemenuhan Good Corporate Governance </h2>
                    </div>
                    <br>
                    <h4 style="color: #fd7e14; margin-right: 150px; margin-left: 80px;">Subperspektif</h4>
                    <p style="margin-right: 150px; margin-left: 80px;" class="card-text" th:text="${subperspektif.subperspektif}"></p>
                    <br>
                    <h4 style="color: #fd7e14; margin-right: 150px; margin-left: 80px;">Tanggung Jawab Divisi</h4>

                    <ul th:each="divisi, iterationStatus : *{divisiDelegasi}" style="margin-right: 150px; margin-left: 80px;">
                        <li th:text="${divisi.nama}"></li>
                    </ul>

                    <br>
                    <h4 style="color: #fd7e14; margin-right: 150px; margin-left: 80px;">Submisi File</h4>
                </div>
                <div class="upload-content">
                    <div class="single-upload">

                        <form id="singleUploadForm" name="singleUploadForm">
                            <input id="singleFileUploadInput" type="file" name="file" class="file-input" required
                                   style="margin-right: 150px; margin-left: 80px;"/>
<!--                            <button id="singleFileUploadInput" type="file" name="file" class="file-input">aaaaaa</button>-->
                            <p style="margin-right: 150px; margin-left: 80px; color: #6c757d">
                                max file 15MB, max attachment 1 file
                                format file : .pdf
                            </p>
                        </form>

                    <div class="upload-response">
                        <div id="singleFileUploadError"></div>
                        <div id="singleFileUploadSuccess"></div>
                    </div>
                </div>


                <form id="submisi">
                    <br>
                    <h4 style="color: #fd7e14 ; margin-right: 150px; margin-left: 80px;">Komentar</h4>
                    <div class="form-group" style="margin-right: 150px; margin-left: 80px;">
<!--                        <input type="text" id="komentar" name="komentar">-->
                        <textarea name="komentar" id="komentar" type="text" rows="10" cols="100"></textarea>
                        <input id="subperspektif" type="hidden" name="submisiLembarKerja" th:field="${subperspektif.id}">
                    </div>

<!--                    <div class="form-group" style="margin-right: 150px; margin-left: 80px">-->
<!--                        <textarea name="komentar" id="komentar" type="text" class="form-control" rows="8"></textarea>-->
<!--                    </div>-->

                </form>


<!--                <div class="container-fluid text-center mt-3">-->
<!--                <button type="button" class="btn btn-primary" id="btnSubmit" style="margin-right: 20px; margin-left: 1100px;">Submit</button>-->
<!--                <button type="button" class="btn btn-outline-primary" style="margin-right: 20px; margin-left: 1200px;">Kembali</button>-->
<!--                    <a th:href="@{/user}" role="button" class="btn btn-outline-primary" style="margin-right: 20px; margin-left: 1200px;">Kembali</a>-->
<!--                </div>-->

                    <div class="container-fluid" style="text-align: center">
                        <p class="font-weight-bold mb-2" id="output-error" style="color: #f70000"></p>
                        <button type="button" class="btn primary-button btn-blue" id="btnSubmit">Simpan</button>
                        <a th:href="@{/lembarkerja/} + ${tahun} + '/1' " role="button" class="ml-2 btn btn-outline-blue secondary-button">Kembali</a>
                    </div>

<!--                    <div class="multiple-upload">-->
<!--                        <h3>Upload Multiple Files</h3>-->
<!--                        <form id="multipleUploadForm" name="multipleUploadForm">-->
<!--                            <input id="multipleFileUploadInput" type="file" name="files" class="file-input" multiple required />-->
<!--                            <button type="submit" class="primary submit-btn">Submit</button>-->
<!--                        </form>-->
<!--                        <div class="upload-response">-->
<!--                            <div id="multipleFileUploadError"></div>-->
<!--                            <div id="multipleFileUploadSuccess"></div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>

            <script src="/js/uploadDownload.js" ></script>
            </div>

            <!-- The Modal -->
            <div class="modal fade" id="successModal" data-backdrop="static">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <!-- Modal body -->
                        <div class="modal-body text-center py-5">
                            <i class="fa fa-check-circle fa-3x text-orange mb-2" aria-hidden="true"></i>
                            <h4 class="text-orange">Dokumen berhasil ditambahkan!</h4>
                            <br>
                            <a th:href="@{/lembarkerja/} + ${tahun} + '/1' " role="button" class="ml-2 btn secondary-button btn-outline-orange">Kembali</a>
                        </div>

                    </div>
                </div>
            </div>
            <!-- END: The Modal -->

            <!-- END: ISI KONTEN -->
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- scripts / JS-->
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
<script>
    function validateFile(){
        var file = $("#singleFileUploadInput").val();
        var extention = ".pdf";
        if(file.substr(file.length - extention.length, extention.length).toLowerCase() == extention.toLowerCase()){
            return true;
        }
        else{
            return false;
        }
    }

    $('#singleFileUploadInput').on('change', function() {
        var size = (this.files[0].size / 1024 / 1024).toFixed(2);
        if(size > 15){
            $("#output-error").text("Ukuran file maksimal 15MB");
        }
        else{
            $("#output-error").text("");
        }
    });

    $(document).ready(function () {

        $("#btnSubmit").click(function (event) {
            if(!(validateFile())) {
                $("#output-error").text("Format File harus .pdf");
                return;
            }

            //stop submit the form, we will post it manually.
            event.preventDefault();

            // disabled the submit button
            $("#btnSubmit").prop("disabled", true);

            // ## Form Save Submisi
            // Get form
            var formSubmisi = $('#submisi')[0];

            // Create an FormData object
            var dataSubmisi = new FormData(formSubmisi);

            // Create dummy
            var idSubmisi = 0;

            $.ajax({
                type: "POST",
                // enctype: 'multipart/form-data',
                url: "/api/submisi/tambah/" + $('#subperspektif').val(),
                data: dataSubmisi,
                async: false,
                processData: false,
                contentType: false,
                cache: false,
                success: function (data) {
                    idSubmisi = data.idSubmisi;
                    // $("#output-error").text("");
                    // $("#btnSubmit").prop("disabled", false);
                    // $("#successModal").modal("show")
                },
                error: function (e) {
                    console.log("ERROR: ", e);
                    $("#btnSubmit").prop("disabled", false);
                }
            });

            // ## Form Upload Dokumen
            // Get form
            var formDokumen = $('#singleUploadForm')[0];

            // Create an FormData object
            var dataDokumen = new FormData(formDokumen);

            $.ajax({
                type: "POST",
                // enctype: 'multipart/form-data',
                url: "/uploadFile/" + idSubmisi,
                data: dataDokumen,
                async: false,
                processData: false,
                contentType: false,
                cache: false,
                success: function (data) {
                    // $("#output-error").text("");
                    $("#btnSubmit").prop("disabled", false);
                    $("#successModal").modal("show")
                },
                error: function (e) {
                    console.log("ERROR: ", e);
                    $("#btnSubmit").prop("disabled", false);
                }
            });


        });
    });
</script>
<!-- End of scripts / JS-->

</body>
</html>


