<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <div th:include="fragments/fragment :: css" th:remove="tag"></div>
    <!-- End of CSS -->

    <!-- TITLE PAGE -->
    <title>Form Tambah Periode</title>
</head>

<body>

<div class="d-flex" id="wrapper">

    <!--Sidebar-->
    <object th:replace="fragments/sidebar :: sidebar" th:remove="tag"></object>
    <!--End of Sidebar-->

    <!-- Page Content -->
    <div id="page-content-wrapper" >
        <!-- Topbar -->
        <nav th:replace="fragments/navbar :: navbar-top" th:remove="tag"></nav>
        <!-- End of Topbar -->

        <div class="container-fluid my-3">
            <!-- ISI KONTEN -->

            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div class="container p-3" style="background-color: white; border-radius: 5px;">
                        <h3 class="text-blue font-weight-bold mb-3">Form Tambah Periode</h3>
                        <form id="addPeriodeForm">
                            <div class="form-group">
                                <label class="text-orange font-weight-bold">Periode</label>
                                <input type="text" name="tahun" class="form-control" placeholder="periode" id="tahun" required>
                            </div>
                            <br>
                            <h6 class="font-weight-bold" style="color: #F16522">Apakah Terdapat Perubahan Aspek Penilaian?</h6>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" onclick="addPeriode()">
                                <label class="form-check-label" for="inlineRadio1">Tidak Ada Perubahan</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" onclick="redirectPeriode()">
                                <label class="form-check-label" for="inlineRadio2">Terdapat Perubahan</label>
                            </div>

                            <div class="container-fluid text-center mt-3">
                                <p class="font-weight-bold mb-2" id="output-error" style="color: #f70000"></p>
                                <button type="button" class="btn primary-button btn-blue" id="btnSubmit">Simpan</button>
                                <a th:href="@{/periode}" role="button" class="btn secondary-button btn-outline-blue">Kembali</a>
                            </div>
                        </form>
                    </div>


                </div>

            </div>
            <!-- The Modal -->
            <div class="modal fade" id="successModal" data-backdrop="static">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <!-- Modal body -->
                        <div class="modal-body text-center py-5">
                            <i class="fa fa-check-circle fa-3x text-orange mb-2" aria-hidden="true"></i>
                            <h4 class="text-orange">Periode berhasil ditambahkan</h4>
                            <br>
                            <a role="button" class="btn btn-outline-orange secondary-button" th:href="@{/periode}">Kembali</a>
                        </div>

                    </div>
                </div>
            </div>
            <!-- END: The Modal -->

            <!-- The Modal: Loader -->
            <div class="modal" id="loader" data-backdrop="static">
                <div class="modal-dialog modal-dialog-centered d-flex justify-content-center text-center">
                    <div class="loader"></div>
                </div>
            </div>
            <!-- END: The Modal -->

            <!-- END: ISI KONTEN -->
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- scripts / JS-->
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
<!-- End of scripts / JS-->
<script type="text/javascript">
    function addPeriode() {
        $("#btnSubmit").click(function (event) {
            if (!(validateForm())) {
                $("#output-error").text("Harap lengkapi semua field.");
                return;
            }
            if (!(checkAngka())) {
                $("#output-error").text("Input harus berupa angka");
                return;
            }

            if (!(validateRadio())) {
                $("#output-error").text("Harap memilih 1 pilihan");
                return;
            }

            if (checkPeriodeIsAvailable()) {
                $("#output-error").text("Periode yang diisi telah digunakan.");
                return;
            }

            //stop submit the form, we will post it manually.
            event.preventDefault();

            // Get form
            var form = $('#addPeriodeForm')[0];

            // Create an FormData object
            var data = new FormData(form);

            // disabled the submit button
            $("#btnSubmit").prop("disabled", true);

            $.ajax({
                type: "POST",
                // enctype: 'multipart/form-data',
                url: "/periode/tambah",
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                async: false,
                beforeSend: function(){
                    $("#loader").show();
                },
                success: function (data) {
                    $("#output-error").text("");
                    $("#loader").hide();
                    $("#btnSubmit").prop("disabled", false);
                    $("#successModal").modal("show")
                },
                error: function (e) {
                    console.log("ERROR: ", e);
                    $("#loader").hide();
                    $("#btnSubmit").prop("disabled", false);
                }
            });
        });
    }

    function redirectPeriode() {
        $("#btnSubmit").click(function (event) {
            if (!(validateForm())) {
                $("#output-error").text("Harap lengkapi semua field.");
                return;
            }
            if (!(checkAngka())) {
                $("#output-error").text("Input harus berupa angka");
                return;
            }

            if (!(validateRadio())) {
                $("#output-error").text("Harap memilih 1 pilihan");
                return;
            }

            if (checkPeriodeIsAvailable()) {
                $("#output-error").text("Periode yang diisi telah digunakan.");
                return;
            }

            if(!(cekTahun())){
                $("#output-error").text("Periode tidak boleh < 2019");
                return;
            }

            //stop submit the form, we will post it manually.
            event.preventDefault();

            // Get form
            var form = $('#addPeriodeForm')[0];

            // Create an FormData object
            var data = new FormData(form);

            // disabled the submit button
            $("#btnSubmit").prop("disabled", true);

            $.ajax({
                type: "POST",
                // enctype: 'multipart/form-data',
                url: "/periode/tambah",
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                async: false,
                beforeSend: function(){
                    $("#loader").show();
                },
                success: function (data) {
                    window.location.href = "/parameter/ubah";
                    $("#loader").hide();
                    $("#btnSubmit").prop("disabled", false);
                    $("#successModal").modal("show")
                },
                error: function (e) {
                    console.log("ERROR: ", e);
                    $("#loader").hide();
                    $("#btnSubmit").prop("disabled", false);
                }
            });
        });
    }
    function validateForm() {
        var isValid = true;
        $('.form-control').each(function() {
            if ( $(this).val() === '' ) {
                isValid = false;
            }
        });
        return isValid;
    }

    function checkAngka() {
        var tahun = $("#tahun").val();
        var angka = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"];
        var n;
        var i;
        for (i = 0; i < tahun.length; i++) {
            if(angka.includes(tahun[i])){
                n = true;
            }
            else{
                n = false;
                break;
            }
        }
        return n;
    }

    function cekTahun() {
        var tahun = $("#tahun").val();
        if(tahun < 2019){
            return false;
        }
        return true;
    }

    function validateRadio() {
        var radios = document.getElementsByName("inlineRadioOptions");
        var formValid = false;

        var i = 0;
        while (!formValid && i < radios.length) {
            if (radios[i].checked) formValid = true;
            i++;
        }
        return formValid;
    }

    function checkPeriodeIsAvailable() {
        var isAvailable = false;
        $.ajax({
            type: 'GET',
            url: '/api/periode/isAvailable/' + $('#tahun').val(),
            async: false,
            dataType: 'json',
            processData: false,
            cache: false,
            success: function (data) {
                isAvailable = data.isAvailable;
            },
            error: function (e) {
                console.log("ERROR: ", e);
            }
        });
        return isAvailable;
    }

    // $(document).ready(function () {
    //
    // });
</script>

</body>
</html>
