<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <div th:include="fragments/fragment :: css" th:remove="tag"></div>
    <!-- End of CSS -->

    <!-- TITLE PAGE -->
    <title>Form Ubah Role</title>
</head>

<body>

<div class="d-flex" id="wrapper">

    <!--Sidebar-->
    <object th:replace="fragments/sidebar :: sidebar" th:remove="tag"></object>
    <!--End of Sidebar-->

    <!-- Page Content -->
    <div id="page-content-wrapper" >
        <!-- Topbar -->
        <nav th:replace="fragments/navbar :: navbar-top" th:remove="tag"></nav>
        <!-- End of Topbar -->

        <div class="container-fluid my-3">
            <!-- ISI KONTEN -->

            <div class="row">

                <div class="col-sm-8">
                    <div class="container p-3" style="background-color: white; border-radius: 5px;">
                        <h3 class="text-blue font-weight-bold mb-3">Form Ubah Role</h3>
                        <form id="addRoleForm" action="javascript:void(0);" th:object="${roleModel}" method="post">
                            <input type="hidden" th:field="*{id}">
                            <div class="form-group">
                                <label class="text-orange font-weight-bold">Nama Role</label>
                                <input type="text" name="nama" class="form-control" placeholder="Nama Role" id="nama" pattern="[a-zA-Z ]+" th:field="*{nama}" readonly>
                            </div>

                            <label class="text-orange font-weight-bold mt-2">Izin Akses</label>
                            <div class="row mt-2 container-fluid">
                                <table class="table" style="background-color: white" cellspacing="0" width="100%">
                                    <div th:each="pMenu, iterStat : ${parentMenu}">
                                        <thead class="card-link" >
                                        <tr class="thead bg-blue" th:id="'parent'+${pMenu.id}" tipe="aspek">
                                            <th style="text-align: center" data-toggle="collapse" th:href="'.collapse' + ${iterStat.index}">
                                                <a style="color: white;" href="javascript:void(0)"><i class="fas fa-caret-down"></i></a>
                                            </th>
                                            <th scope="col" th:text="${pMenu.nama}"></th>
                                            <th scope="col" align="center">
                                                <input type="checkbox" class="checkAll" th:id="'parent'+${pMenu.id}">
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody id="myTable">

                                        <div th:each="cMenu, cMenuIterStat : ${childMenu}" th:if="${pMenu.id == cMenu[0].parentMenu.id}">
                                            <tr th:classappend="${(' collapse'+iterStat.index)}" class="collapse show" th:id="'child'+${cMenu[0].id}" th:attr="parent='parent'+${pMenu.id}" tipe="child">
                                                <td></td>
                                                <td th:text="${cMenu[0].nama}"></td>
                                                <td>
                                                    <div>
                                                        <input type="checkbox" th:if="${cMenu[1]}" checked class="child check" th:id="'child'+${cMenu[0].id}" th:attr="parent='parent'+${pMenu.id}" name="aclCheckbox" th:value="${cMenu[0].id}" tipe="child">
                                                        <input type="checkbox" th:unless="${cMenu[1]}" class="child check" th:id="'child'+${cMenu[0].id}" th:attr="parent='parent'+${pMenu.id}" name="aclCheckbox" th:value="${cMenu[0].id}" tipe="child">
                                                    </div>
                                                </td>
                                            </tr>
                                        </div>

                                        </tbody>
                                    </div>
                                </table>
                                <br><br>
                            </div>

                            <div class="container-fluid text-center mt-3">
                                <p class="font-weight-bold mb-2" id="output-error" style="color: #f70000"></p>
                                <button type="button" class="btn primary-button btn-blue" id="btnSubmit">Simpan</button>
                                <a th:href="@{/role}" role="button" class="btn secondary-button btn-outline-blue">Kembali</a>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <!-- The Modal -->
            <div class="modal fade" id="successModal" data-backdrop="static">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <!-- Modal body -->
                        <div class="modal-body text-center py-5">
                            <i class="fa fa-check-circle fa-3x text-orange mb-2" aria-hidden="true"></i>
                            <h4 class="text-orange">Role dan izin aksesnya berhasil diubah</h4>
                            <br>
                            <a role="button" class="btn btn-outline-orange secondary-button" th:href="@{/role}">Kembali</a>
                        </div>

                    </div>
                </div>
            </div>
            <!-- END: The Modal -->


            <!-- END: ISI KONTEN -->
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- scripts / JS-->
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
<!-- End of scripts / JS-->
<script type="text/javascript">

    function validateForm() {
        var isValid = true;
        $('.form-control').each(function() {
            if ( $(this).val() === '' ) {
                isValid = false;
            }
        });
        return isValid;
    }

    $(document).ready(function () {

        $('.checkAll').change(function () {
            var idParent = $(this).attr("id");
            if ($(this).prop("checked") === true) {
                $('.child[parent="'+idParent+'"]').prop("checked", true);
            } else if ($(this).prop("checked") === false){
                $('.child[parent="'+idParent+'"]').prop("checked", false);
            }
        });

        $("#btnSubmit").click(function (event) {
            if (!(validateForm())) {
                $("#output-error").text("Harap lengkapi semua field.");
                return;
            }

            //stop submit the form, we will post it manually.
            event.preventDefault();

            // Get form
            var form = $('#addRoleForm')[0];

            // Create an FormData object
            var data = new FormData(form);

            // disabled the submit button
            $("#btnSubmit").prop("disabled", true);

            $.ajax({
                type: "POST",
                // enctype: 'multipart/form-data',
                url: "/role/ubah",
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                success: function (data) {
                    $("#output-error").text("");
                    $("#successModal").modal("show")
                },
                error: function (e) {
                    console.log("ERROR: ", e);
                    $("#btnSubmit").prop("disabled", false);
                }
            });
        });
    });
</script>

</body>
</html>
